pbr>=5.2.0

Django>=3.2.12
Babel>=2.6.0
decorator>=4.4.0
django-rest-swagger>=2.2.0
djangorestframework>=3.14.0
jsonfield>=2.0.2
keystonemiddleware>=6.0.0
python-cinderclient>=4.1.0
six>=1.12.0
confspirator>=0.2.2

requests~=2.31.0
structlog~=24.1.0